
extends /layout.pug
include /mixins.pug

block append content
  // a comment
  p This is #{msg.toUpperCase() + ' is the message'}
  
  h2 Inputs
  each input in inputs
    p
      input(type="text" value=input)
  
  h2 Friends
  case friends
    when 0
    when 1
      p you have very few friends
    default
      p you have #{friends} friends
  
  h2 Conditions
  p(class="1", toto=1) Hello world!
    a Top
      |  
    a.somthing.toto= pet('blas')
    +pet('blas', 1, 2)
    if 1
      Blop
    else if 1
      Nope
    else
      whatever
    
    h2 Pets
    - var pets = ['cat', 'dog']
    each petName in pets
      p= petName
    each key, petName in pets
      p= key + ':' + petName
block footer
  include /foot.pug
  p.
    copyright 2015
